<div class="container">
  <h2>Dashboard Meteorológico</h2>

  <label for="estacionSelect">Selecciona una estación:</label>
  <select id="estacionSelect" class="form-select mb-3" (change)="onEstacionChange($event)">
    <option *ngFor="let estacion of estaciones" [value]="estacion.id">
      {{ estacion.name }}
    </option>
  </select>
  <div id="map" style="height: 400px;" class="mt-4"></div>
<div style="display: block; width: 100%; height: 400px;">
  <canvas
    baseChart
    [data]="chartData"
    [options]="chartOptions"
    [type]="'line'">
  </canvas>
</div>


  <div id="map" style="height: 400px;" class="mt-4"></div>
</div>
